{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col-md-12 col-sm-12">

    <article>
      <div class="voting-buttons">
	<a class="btn btn-default vote" href="">
	  <i class="fa fa-chevron-up"></i>
	  <div>
	    426
	  </div>
	</a>
	<br/>
	<a class="btn btn-default comment" href="">      
	  <i class="fi-comment"></i>
	  12
	</a>
      </div>

      <h2>{{post.title}}</h2>
      <!-- <hr/> -->
      <p>
	{{post.body}}
      </p>
      <span class="label label-default">Webdev</span>
      <span class="label label-default">Backend</span>            
      <span class="label label-default">Django</span>
      <span class="label label-default">Video</span>
      <span class="label label-default">Beginner</span>      
      <span class="label label-default">Paid</span>            

      <!-- 
      <a class="btn btn-default" href="">      
	<i class="fi-comment"></i>
	12
      </a>
      -->
    </article>

    <br/>
    <!-- Leave a comment -->
    <textarea class="form-control" placeholder="Leave a comment..."></textarea>
    <a class="btn btn-primary right">Submit</a>
    <div class="clearfix"></div>

    <!-- Comments -->
    <article class="comment">
      <div class="body">
	Hey, this is a fantastic resource!
      </div>
      <div class="footer">
	<a class="username" href="#">@rayalez</a>
	<a>
	  <span class="score">1</span>
	  <i class="fi-arrow-up"></i>
	</a>      
      </div>
      <div class="clearfix"></div>


    <article class="comment">
      Damn straight!
      <br/>
      <div class="right"><a>@rayalez</a></div>
      <br/>
    </article>
      
    </article>
  </div>
</div>  
{% endblock %}
