@import url('http://fonts.googleapis.com/css?family=Noto+Sans:100,200,400,700,400italic,700italic');

$background: #f9f9f9;
$orange: #da552f;
$black: rgba(0, 0, 0, 0.8);
$gray: #999;
$dark-gray: rgba(0,0,0,.6);
$light-gray: #e7e7e7;

html, body {
    font-family: "Noto Sans", sans-serif;
    background: $background;
    color: $black;
}

h2 {
    font-family: "Noto Sans", sans-serif;
}

a {
    color: $black;
    &:hover {
	color: $black;	
    }    
}

hr {
    border:none;
    border-top: 1px solid rgba(0,0,0,.15);
    margin: 10px 0;
}


/* Helpers */
.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    border-radius: 2px;
    background: transparent;
    color: $dark-gray;
    border: 1px solid $gray;
}


header {
    box-shadow: 0 1px 0 0 rgba(0,0,0,.05), 0 2px 4px 0 rgba(0,0,0,.06);
    background: #fff;
    padding: 10px;
    border-top: 3px solid $orange;


    .logo {
	background: $orange;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	text-align: center;
	color: white;
	padding-top: 20px;
	line-height: 0;
	float:left;
	margin-right:10px;
    }
    
    form {
	float: left;
	width: calc(100% - 50px);

	input {
	    height: 40px;
	}

	.fa-search {
	    position: absolute;
	    right: 26px;
	    top: 12px;
	    color: $gray;
	}

	.typeahead.dropdown-menu {
	    width: calc(100% - 80px);
	}
    }

    .navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 40px;
	border: 1px solid rgba(0,0,0,0.1);
	margin-right:5px;
    }

    .subnav {
	margin-top: 10px;
	.filters {
	    margin-left: 50px;
	}
	.btn {
	    border-radius: 0;
	}

	.dropdown {
	    float: left;
	    margin-right: 5px;
	    li {
		border-bottom: 1px solid rgba(0,0,0,.15);
	    }
	}

	.dropdown:hover .dropdown-menu {
	    display: block;
	}

    }
}




.subscription-box {
    margin-top: 20px;
    .panel {
	margin-bottom: 0;
    }
    .cta {
	padding:10px;
	float:left;
	margin-right:20px;
    }

    .input-group {
	width: 580px;
    }

    input {
	height: 40px;
    }
    
    .btn {
	background: $orange;
	color: white;
	height: 40px;
    }

    .close {
	position: relative;
	top: 19px;
	right: 15px;
	font-size: 32px;
    }
}


article {
    background: white;
    padding: 20px;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    margin-top: 20px;

    h2 {
	margin-top:0;
	font-size: 22px;
	font-weight: bold;
    }

    p {
	font-size: 14px;
	color: $gray;
    }


    .voting-buttons {
	float: left;
	margin-right: 20px;
	.btn {
	    margin-bottom: 5px;
	    width: 50px;
	    padding: 5px 0;

	    &:hover {
		background: $light-gray;
	    }
	}
    }
    .label {
	color: $dark-gray;
    }
}