    <!-- Leave a comment -->
    <textarea class="form-control" placeholder="Leave a comment..."></textarea>
    <a class="btn btn-primary right">Submit</a>
    <div class="clearfix"></div>

    <!-- Comments -->
    <article class="comment">
      <div class="body">
	Hey, this is a fantastic resource!
      </div>
      <div class="footer">
	<a class="username" href="#">@rayalez</a>
	<a>
	  <span class="score">1</span>
	  <i class="fi-arrow-up"></i>
	</a>      
      </div>
      <div class="clearfix"></div>

    <article class="comment">
      <div class="body">
	Hey, this is a fantastic resource!
      </div>
      <div class="footer">
	<a class="username" href="#">@rayalez</a>
	<a>
	  <span class="score">1</span>
	  <i class="fi-arrow-up"></i>
	</a>      
      </div>
      <div class="clearfix"></div>


    <article class="comment">
      <div class="body">
	Hey, this is a fantastic resource!
      </div>
      <div class="footer">
	<a class="username" href="#">@rayalez</a>
	<a>
	  <span class="score">1</span>
	  <i class="fi-arrow-up"></i>
	</a>      
      </div>
      <div class="clearfix"></div>

    <article class="comment">
      <div class="body">
	Hey, this is a fantastic resource!
      </div>
      <div class="footer">
	<a class="username" href="#">@rayalez</a>
	<a>
	  <span class="score">1</span>
	  <i class="fi-arrow-up"></i>
	</a>      
      </div>
      <div class="clearfix"></div>
    </article>
      
    </article>

    
    </article>
      

    </article>
