{% load static %}
<!DOCTYPE html>
<html lang="en-US">
 
<head>
  <meta charset="utf-8">
  <title>Web Academy</title>
  <meta name="description" content="Best web development tutorials and learning resources.">

  
  <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "/css/font-awesome.min.css" %}">
  <link rel="stylesheet" href="{% static "/css/style.css" %}">    

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>

<body>

  <header>
    <div class="container">
      <div class="row">      
	<div class="col-md-8">
	  <!-- Logo -->
	  <div class="logo">
	    WA
	  </div>

	  <!-- Search -->
	  <form>
	    <input type="text" class="form-control" placeholder="Search">
	    <i class="fa fa-search" aria-hidden="true"></i>    

	  </form>
	</div>
	<!-- Menu -->
	<div class="col-md-4">
	  Browse
	</div>
      </div>
    </div>
  </header>

  <div  class="container">
  {% block content %}
  {% endblock %}
  </div>
  <script src="js/scripts.js"></script>
</body>
</html>
