@import url("http://fonts.googleapis.com/css?family=Noto+Sans:100,200,400,700,400italic,700italic");
/* Helpers */
/* line 2, ../sass/_helpers.scss */
.left {
  float: left;
}

/* line 6, ../sass/_helpers.scss */
.right {
  float: right;
}

/* line 1, ../sass/_general.scss */
html, body {
  font-family: "Noto Sans", sans-serif;
  background: #f9f9f9;
  color: rgba(0, 0, 0, 0.8);
}

/* line 7, ../sass/_general.scss */
h2 {
  font-family: "Noto Sans", sans-serif;
}

/* line 11, ../sass/_general.scss */
a {
  color: rgba(0, 0, 0, 0.8);
}
/* line 13, ../sass/_general.scss */
a:hover {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

/* line 19, ../sass/_general.scss */
hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin: 10px 0;
}

/* line 25, ../sass/_general.scss */
textarea, textarea:focus, textarea:active {
  resize: none;
  box-shadow: none !important;
}

/* Customize bootstrap */
/* line 34, ../sass/_general.scss */
.btn-default {
  border-radius: 2px;
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid #999;
}

/* line 2, ../sass/_header.scss */
header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  padding: 10px;
  border-top: 3px solid #da552f;
}
/* line 9, ../sass/_header.scss */
header .logo {
  background: #da552f;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  color: white;
  padding-top: 20px;
  line-height: 0;
  float: left;
  margin-right: 10px;
  /* margin-left: -50px; */
}
/* line 23, ../sass/_header.scss */
header form {
  float: left;
  width: calc(100% - 50px);
}
/* line 27, ../sass/_header.scss */
header form input {
  height: 40px;
}
/* line 31, ../sass/_header.scss */
header form .fa-search {
  position: absolute;
  right: 26px;
  top: 12px;
  color: #999;
}
/* line 38, ../sass/_header.scss */
header form .typeahead.dropdown-menu {
  width: calc(100% - 80px);
}
/* line 43, ../sass/_header.scss */
header .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 5px;
}
/* line 51, ../sass/_header.scss */
header .subnav {
  margin-top: 10px;
}
/* line 53, ../sass/_header.scss */
header .subnav .filters {
  /* margin-left: 50px; */
}
/* line 56, ../sass/_header.scss */
header .subnav .btn {
  border-radius: 0;
}
/* line 60, ../sass/_header.scss */
header .subnav .dropdown {
  float: left;
  margin-right: 5px;
}
/* line 63, ../sass/_header.scss */
header .subnav .dropdown li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 68, ../sass/_header.scss */
header .subnav .dropdown:hover .dropdown-menu {
  display: block;
}

/* line 2, ../sass/_posts.scss */
article {
  background: white;
  padding: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.09);
  margin-top: 20px;
}
/* line 9, ../sass/_posts.scss */
article h2 {
  margin-top: 0;
  font-size: 22px;
  font-weight: bold;
}
/* line 15, ../sass/_posts.scss */
article p {
  font-size: 14px;
  color: #999;
}
/* line 21, ../sass/_posts.scss */
article .voting-buttons {
  float: left;
  margin-right: 20px;
}
/* line 24, ../sass/_posts.scss */
article .voting-buttons .btn {
  margin-bottom: 5px;
  width: 50px;
  padding: 5px 0;
}
/* line 29, ../sass/_posts.scss */
article .voting-buttons .btn:hover {
  background: #e7e7e7;
}
/* line 34, ../sass/_posts.scss */
article .label {
  color: rgba(0, 0, 0, 0.6);
}

/* line 39, ../sass/_posts.scss */
.tag-description {
  margin-top: 20px;
}
/* line 41, ../sass/_posts.scss */
.tag-description .panel {
  padding: 20px;
  margin-bottom: 0;
}
/* line 45, ../sass/_posts.scss */
.tag-description .panel h1 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
}
/* line 50, ../sass/_posts.scss */
.tag-description .panel h2 {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}

/* Post detail */
/* line 61, ../sass/_posts.scss */
.comment {
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.04);
}
/* line 63, ../sass/_posts.scss */
.comment .footer {
  float: right;
}
/* line 65, ../sass/_posts.scss */
.comment .footer a {
  cursor: pointer;
}
/* line 68, ../sass/_posts.scss */
.comment .footer .score {
  font-weight: bold;
}

/* line 75, ../sass/_posts.scss */
.comment .comment {
  margin-right: -20.5px;
}

/* line 16, ../sass/style.scss */
.subscription-box {
  margin-top: 20px;
  display: none;
}
/* line 20, ../sass/style.scss */
.subscription-box .panel {
  margin-bottom: 0;
}
/* line 23, ../sass/style.scss */
.subscription-box .cta {
  padding: 10px;
  float: left;
  margin-right: 20px;
  font-weight: bold;
}
/* line 30, ../sass/style.scss */
.subscription-box .input-group {
  width: 580px;
  width: 470px;
  float: right;
  margin-right: 27px;
}
/* line 37, ../sass/style.scss */
.subscription-box input {
  height: 40px;
}
/* line 41, ../sass/style.scss */
.subscription-box .btn {
  background: #da552f;
  color: white;
  height: 40px;
}
/* line 47, ../sass/style.scss */
.subscription-box .close {
  position: relative;
  top: 19px;
  right: 15px;
  font-size: 32px;
}

/* Modals */
/* Pagination */
/* line 60, ../sass/style.scss */
.pagination {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  text-align: center;
}
/* line 66, ../sass/style.scss */
.pagination .fa {
  margin-top: 6px;
  color: #999;
}

/* Footer */
/* line 74, ../sass/style.scss */
footer {
  color: #999;
}
/* line 76, ../sass/style.scss */
footer a {
  color: #999;
  font-weight: bold;
}
