  <header>
    <div class="container">
      <div class="row">      
	<div class="col-md-8 col-sm-8">
	  <!-- Logo -->
	  <a href="/" class="logo">
	      WA
	  </a>

	  <!-- Search -->
	  <form>
	    <input type="text" class="form-control" id="searchbar"
		   placeholder="What do you want to learn?"
		   data-provide="typeahead"
		   autocomplete="off">
	    <i class="fa fa-search" aria-hidden="true"></i>    

	  </form>
	</div>
	<!-- Menu -->
	<div class="col-md-4 col-sm-4">
	  <ul class="nav navbar-nav right">
            <li>
	      <a data-toggle="modal" data-target="#submit">
		Submit
	      </a>
	    </li>	    
            <li>
	      <a data-toggle="modal" data-target="#login">
		Login
	      </a>
	    </li>	    
	  </ul>	  
	</div>
      </div>

    <!-- Subnav -->
    <div class="row subnav">      
      <div class="col-md-8 col-sm-8 filters">
	<div class="dropdown">
	  <a class="btn btn-default" data-toggle="dropdown">
	    Category: All
	  </a>
	  <ul class="dropdown-menu" role="menu">
            <li><a href="#">Backend</a></li>
            <li><a href="#">Frontend</a></li>
            <li><a href="#">Devops</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Business</a></li>	    	    
            <li><a href="#">Tools</a></li>
          </ul>	
	</div>

	<div class="dropdown">
	  <a class="btn btn-default" data-toggle="dropdown">
	    Sorting: Hot
	  </a>
	  <ul class="dropdown-menu" role="menu">
            <li><a href="#">Top</a></li>
            <li><a href="#">New</a></li>
          </ul>	
	</div>

	<div class="dropdown">
	  <a class="btn btn-default" data-toggle="dropdown">
	    Format: All
	  </a>
	  <ul class="dropdown-menu" role="menu">
            <li><a href="#">Video</a></li>
            <li><a href="#">Article</a></li>
            <li><a href="#">Book</a></li>
          </ul>	
	</div>


	<div class="dropdown">
	  <a class="btn btn-default" data-toggle="dropdown">
	    Level: All
	  </a>
	  <ul class="dropdown-menu" role="menu">
            <li><a href="#">Beginner</a></li>
            <li><a href="#">Intermediate</a></li>
            <li><a href="#">Advanced</a></li>
          </ul>	
	</div>


	<div class="dropdown">
	  <a class="btn btn-default" data-toggle="dropdown">
	    Price: All
	  </a>
	  <ul class="dropdown-menu" role="menu">
            <li><a href="#">Free</a></li>
            <li><a href="#">Paid</a></li>
          </ul>	
	</div>

    </div>
      
    </div> <!-- End .container -->

  </header>
