<!-- General -->
<meta name="author" content="Ray Alez">  
<meta name="viewport" content="width=device-width, initial-scale=1">    
<link rel="shortcut icon" href="http://webacademy.io/static/img/favicon.png"/>

<!-- Facebook  -->
<meta property="og:url" content="http://webacademy.io{{request.path}}">
<meta property="og:image" content="http://webacademy.io/static/img/webacademy.png">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Web Academy">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="http://webacademy.io{{request.path}}" />
<meta property="twitter:creator" content="@raymestalez" />
<meta name="twitter:site" content="@WebAcademyIO">
<meta property="twitter:image" content="http://webacademy.io/static/img/webacademy.png" />

{% if tag %}
<title>Learn {{tag.title}} - Best {{tag.title}} tutorials and courses</title>
<!-- Description -->
<meta name="description"
      content="Learning {{tag.title}}? - check out these best {{tag.title}} tutorials and courses voted by the programming community.">
<meta name="keywords" content="Learn, best, {{tag.title}}, Tutorials, Courses, Web Development, WebDev, Programming">

<meta itemprop="name"
      content="Best {{tag.title}} tutorials and courses submitted and voted by programming community.">
<meta itemprop="description" content="There are tons of online programming courses and tutorials for {{tag.title}}, but it's never easy to find the best one. Try Web Academy to find the best online {{tag.title}} tutorials and courses submitted &amp; voted by the programming community.">

<!-- Facebook -->
<meta property="og:title" content="Best {{tag.title}} tutorials and courses voted by programming community | Web Academy">  
<meta property="og:description" content="There are tons of online programming courses and tutorials for {{tag.title}}, but it's never easy to find the best one. Try Web Academy to find the best online {{tag.title}} tutorials and courses submitted &amp; voted by the programming community.">

<!-- Twitter -->
<meta property="twitter:title" content="Best {{tag.title}} tutorials and courses voted by programming community | Web Academy" />
<meta property="twitter:description" content="There are tons of online programming courses and tutorials for {{tag.title}}, but it's never easy to find the best one. Try Web Academy to find the best online {{tag.title}} tutorials and courses submitted &amp; voted by the programming community." />

{% else %}
<!-- Meta -->
<meta name="description"
      content="Discover the best web development tutorials and learning resources.">
<meta name="keywords" content="Web Development, WebDev, Tutorials, Articles, Books, Courses,Django,React,HTML,CSS,JavaScript, Programming, Python, React Courses, React Tutorials">
<!-- Facebook -->
<meta property="og:title" content="Web Academy - Discover the best web development tutorials and learning resources.">  
<meta property="og:description" content="There are tons of online programming courses and tutorials, but it's never easy to find the best one. Try Web Academy to find the best online courses submitted & voted by the programming community.">
<!-- Twitter -->
<meta property="twitter:title" content="Web Academy - Discover the best web development tutorials and learning resources." />
<meta property="twitter:description" content="There are tons of online programming courses and tutorials, but it's never easy to find the best one. Try Web Academy to find the best online courses submitted & voted by the programming community." />
{% endif %}
