    <article>
      <div class="voting-buttons">
	<a class="btn btn-default vote" href="">
	  <i class="fa fa-chevron-up"></i>
	  <div>
	    {{post.score}}
	  </div>
	</a>
	<br/>
	<a class="btn btn-default comment" href="{{post.get_absolute_url}}">      
	  <i class="fi-comment"></i>
	  {{post.comments.count}}
	</a>
      </div>

      <h2><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
      <!-- <hr/> -->
      <p>
	{{post.body}}
      </p>
      <span class="label label-default">Backend</span>            
      <span class="label label-default">Django</span>
      <span class="label label-default">Video</span>
      <span class="label label-default">Beginner</span>      
      <span class="label label-default">Paid</span>            

      <!-- 
      <a class="btn btn-default" href="">      
	<i class="fi-comment"></i>
	12
      </a>
      -->
    </article>
 
