<div id="submit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Submit Course/Tutorial</h4>
      </div>
      <div class="modal-body">

	<!-- Submit Form -->
	<form class="form-horizontal">
          <fieldset>
            <div class="form-group">
	      <!-- Title -->
              <div class="col-lg-12">
                <input type="text" class="form-control"
		       id="inputEmail" placeholder="Title">
              </div>
	    </div>

            <div class="form-group">	    
	      <!-- Url -->
              <div class="col-lg-12">
                <input type="text" class="form-control"
		       id="inputEmail" placeholder="Url">
              </div>
            </div>

            <div class="form-group">
	      <!-- Description -->
              <div class="col-lg-12">
                <textarea class="form-control" rows="3"
			  id="textArea"
			  placeholder="Description. 200-500 words."></textarea>
              </div>
            </div>

            <div class="form-group">	    
	      <!-- Url -->
              <div class="col-lg-12">
                <input type="text" class="form-control"
		       id="inputEmail" placeholder="Tags (HTML, Python, Django)">
              </div>
            </div>

	    
            <div class="form-group">
	      <!-- Description -->
              <div class="col-lg-4">
		<select class="form-control">
		  <option>Category</option>
		  <option>Ketchup</option>
		  <option>Relish</option>
		</select>
	      </div>
              <div class="col-lg-4">
		<select class="form-control">
		  <option>Type</option>
		  <option>Ketchup</option>
		  <option>Relish</option>
		</select>
	      </div>

              <div class="col-lg-4">
		<select class="form-control">
		  <option>Difficulty</option>
		  <option>Ketchup</option>
		  <option>Relish</option>
		</select>
	      </div>
	      
	    </div>

      </div> <!-- End .modal-body -->	    
      
      <!-- Buttons -->
      <div class="modal-footer">
        <button type="button"
		class="btn btn-default" data-dismiss="modal">
	  Cancel
	</button>
	<button type="submit"
		class="btn btn-primary">
	  Submit
	</button>
      </div>
      
      </fieldset>
      </form>

    </div> <!-- End .modal-content -->

  </div> <!-- End .modal-dialog -->
</div>	 <!-- End .modal -->
