    <div class="row subscription-box"  id="subscription-box">
      <div class="col-md-12 col-sm-12">
	<div class="panel panel-default">
	      <button type="button" class="close" id="close-subscription-box"
		      data-target="#subscription-box"
		      data-dismiss="alert">
		<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	      </button>

	  <div class="panel-body">
	      <div class="cta">
		<!-- Receive the best web development learning resources in our weekly digest! -->
		Discover the best learning resources for hackers and founders!
	      </div>

	      <div class="input-group">
		<form method="post"
		      action="/subscribe/?next={{request.path}}">{% csrf_token %}  
		  <input type="text" name="email" id="id_email"
			 class="form-control" placeholder="email" />
		  <span class="input-group-btn">
                    <input class="btn btn-default" type="submit"
			   value="Receive weekly email digest!"/>
		  </span>
		</form>
	      </div>
	  </div> <!-- End .col-md-12 col-sm-12 -->
	</div> <!-- End .panel -->
      </div> <!-- End .col-md-12 -->
    </div> <!-- End .subscription-box -->


<div class="alert alert-success">
  <strong>Success!</strong> Thank you for subscribing!
</div>    
